{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="mt-5 d-flex justify-content-center">
    <h2 class="text-white fw-bold display-6 text-uppercase">bienvenu chez</h2>
</div>

<div class="title-ecoride m-auto">
    <img class="img-ecoride m-auto" src="{{ asset("images/TITRE-PAGE_ECORIDE(1).svg") }}">
</div>


<div class="d-flex justify-content-center">
    <p class="text-white fw-bold display-6 text-uppercase">les déplacements</p>
</div>

<div class="d-flex justify-content-center">
    <h1>
        <img class="img-ecoride m-auto" src="{{ asset("images/€CO.svg") }}">
    </h1>
    <div>
        <img class="img-ecoride m-auto" src="{{ asset("images/logiques-nomiques.svg") }}">
    </div>

</div>


<div class="d-flex justify-content-center">
    <img class="img-decors-image-presentation m-auto" src="{{ asset("images/decord-image-presentation.svg") }}">
</div>


{% endblock %}

