body {
    background-color: #A4957C;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
}

.title-ecoride {
    height: 20vh;
    width: 75vw;
    display: flex;
}

.img-ecoride {
    height: 20vh;
    width: 100%;
}
