body {
    background-color: #A4957C;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
}

h2 {
    font-family: "Montserrat Alternates", sans-serif;
        -webkit-text-stroke-width: 2px;
        -webkit-text-stroke-color: black;
}

.ecoride {
    height: 10vh;
    width: 50vw;
    border: 2px solid black;
    display: flex;
    background-image: image("./images/TITRE-PAGE_ECORIDE(1).svg");
}

.E {

}

.e {
    height: 9vh;
    width: 2vw;
    background-color: white;
    margin-top: 0.5vh;
}

.ehh, .ehb {
    height: 1vh;
    width: 10vw;
    background-color: white;
}

.ehh {
    margin-top: 0.5vh;
}

.ehb {
margin-top: 6.5vh;
rotate: -7.5deg;

}

.evm {
    height: 1vh;
    width: 5vw;
    background-color: white;
}
