body {
    background-color: #A4957C;
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: bold;
    padding-top: 129px;
}

nav {
    background: url("../images/buche-de-bois.png") 100% 100%;
}

nav::after {
    content: "";
    position: absolute;
    z-index: 10;
    inset: 0;
    background-color: rgba(0,0,0,0.6);

}



nav>*, .navbar-toggler {
    z-index: 20;
}



a.navbar-brand, .nav-item>a {
    color: #CBBBA0;
}

.navbar-nav .nav-link.active {
    color: white;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #95C11F;
}


.nav-link:focus, .nav-link:hover {
    color: white;
}

h2 {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}

.title-ecoride {
    height: 20vh;
    width: 75vw;
    display: flex;
}

.img-ecoride {
    height: 20vh;
    width: 100%;
}
